{% extends 'app/_base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Transaction Details</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Transaction</li>
            </ol>
            <div class="col-12">

                <div class="card mb-4 col-lg-12 col-xl-6">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Transaction Details
                    </div>
                    <div class="card-body">
                        {{ object.date }}
                        {{ object.type }}
                        {{ object.amount }}
                        {{ object.description }}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}